<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Churn Prediction Using Artificial Neural Network (ANN)</title>
</head>
<body>

<div>
    <h1>Upload CSV File of Customer Data</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="csvFile" accept=".csv">
        <button type="submit">Submit File</button>
    </form>
    <hr>
    <h2>File Content:</h2>
    <pre id="csvContent">{{csvContent}}</pre>
</div>

</body>
</html>
